{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}
    <h1>{{ film.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ film.titre }}</td>
            </tr>
            <tr>
                <th>Date de sortie</th>
                <td>{{ film.dateSortie ? film.dateSortie|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
            <tr>
                <th>Couverture</th>
                <td><img src="{{ asset('images/' ~ film.couverture) }}" alt="{{ film.titre }}" width="10%"></td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{{ film.disponible ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Updated at</th>
                <td>{{ film.updatedAt ? film.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    
    

    <div>
        <a href="{{ path('app_adherent_new') }}">Adherent</a>
        </div>
    <div>

    <a href="{{ path('app_film_index') }}">back to list</a></div>
    <div>
    <a href="{{ path('app_film_edit', {'id': film.id}) }}">edit</a>
    </div>

    

    {{ include('film/_delete_form.html.twig') }}

    
    
{% endblock %}